.buttons-contacts > button {
    color: black;
    background-color: #827f23;
    border: none;
    height: 38px;
    border-radius: 4%;
    margin: 3%;
    padding: 2%;
    width: 22vh;
    font-size: 17px;
    cursor: pointer;
}
.buttons-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.info-cont-and-price {
  margin-bottom: 2%;
  text-align: center;
}
.buttons-contacts > button:hover {
    background-color: #111;
    color: #827f23;
    border: 2px solid #827f23;
}
.map {
  text-align: center;
}
iframe {
  max-width: 400px;
  width: 85%;
   height:300px;
    border:0;
}
form {
margin-left: 3%;
}
input{
  width: 100%;
  max-width: 45%;
  padding: 12px 5px;
  border: none;
  border-bottom: 2px solid #9de99b;;
  box-sizing: border-box;
  display: block;
  margin-left: 3%;
}
.request {
  font-family: 'Inter';
  font-size: 3.5vh;
  margin: 3%;
}
label{
  display: block;
  font-family: 'Inter';
  font-size: 2.5vh;
  margin: 3%;
}
.submit {
  width: 100%;
  max-width: 20%;
  margin: 3%;
  height: 35px;
  cursor: pointer;
  background-color: #212321;
  border: none;
  border-radius: 4%;
  color: white;
}